/* RUBIK */
@font-face {
   font-family: "rubik-light";
   src: url("../asset/fonts/rubik-light.ttf");
}
@font-face {
   font-family: "rubik-regular";
   src: url("../asset/fonts/rubik-regular.ttf");
}
@font-face {
   font-family: "rubik-medium";
   src: url("../asset/fonts/rubik-medium.ttf");
}
@font-face {
   font-family: "rubik-bold";
   src: url("../asset/fonts/rubik-bold.ttf");
}


/* OPEN SANS */
@font-face {
   font-family: "open-sans-regular";
   src: url("../asset/fonts/open-sans-regular.ttf");
}
@font-face {
   font-family: "open-sans-italic";
   src: url("../asset/fonts/open-sans-italic.ttf");
}
@font-face {
   font-family: "open-sans-semi-bold";
   src: url("../asset/fonts/open-sans-semi-bold.ttf");
}
@font-face {
   font-family: "open-sans-semi-bold-italic";
   src: url("../asset/fonts/open-sans-semi-bold-italic.ttf");
}


/* Global */
*:before,
*,
*:after{
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   scroll-snap-type: y mandatory;
   scroll-snap-points-y: repeat(100%);
}

body{
   margin: 0 auto;
   background: #0a0c12;
}

main{
   margin-left: 5rem;
}

section {
   height: 100vh;
   scroll-snap-align: start;
   color: #fff;
}

.wrapper{
   width: 80rem;
   height: 100vh;
   margin: 0 auto;
}

h1{

}

h2{
   margin: 0;
   padding: 5rem 0;
   font-family: "rubik-medium", Helvetica;
   font-weight: normal;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   text-align: center;
}

h3{
   display: inline-block;
   font-family: "rubik-medium", Helvetica;
   font-weight: normal;
   text-transform: uppercase;
   border-bottom: solid 0.1rem #666;
}

/* Modal*/
.wrap-modal{
   display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 100;
   overflow: hidden;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.modal{
   display: block;
   width: 25%;
   margin: 20% auto;
   padding: 2rem;
   text-align: center;
   background-color: #fefefe;
   border-radius: 0.2rem;
   font-family: "open-sans-regular", Helvetica;
   font-weight: bold;
}

.close{
   float: right;
   font-size: 1.5rem;
   font-weight: bold;
   color: #666;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

/* Header */
header{
   position: fixed;
   top:0;
   width: 80px;
   height: 100vh;
   background: #fff;
}

.burger{
   display: block;
   margin: 1rem 1.4rem;
   cursor: pointer;
}

.burger div{
   height: 0.25rem;
   background: #666;
   border-radius: 0.4rem;
   transition: 0.5s;
}

.burger:hover div {
   background: #00cacb;
   width: 2rem;
}

.burger .middle-bar{
   margin: 0.30rem 0;
}

.top-bar{
   width: 2rem;
}

.middle-bar{
   width: 1rem;
}

.bottom-bar{
   width: 1.5rem;
}

.social-button{
   display: block;
   position: absolute;
   bottom: 3rem;
   left: 0.55rem;
   transform: rotate(-90deg);
   transition: bottom 0.5s ease;
   font-family: "rubik-regular";
   font-weight: normal;
   font-size: 1.1rem;
   line-height: 2rem;
   text-transform: uppercase;
   text-decoration: none;
   color: #666;
   cursor: pointer;
}

.social-button:hover{
   bottom: 3.5rem;
   color: #333;
}

/* JS Button */
#socialButton.show{
   bottom: 14rem;
   color: #333;
}

.social-button span{
   position: absolute;
   bottom: 1rem;
   left: -2.8rem;
   width: 2.2rem;
   height: 0.11rem;
   margin-right: 0.5rem;
   background: #aaa;
   border-radius: 0.2rem;
}

.social-nav{
   position: absolute;
   bottom: -25rem;
   width: 100%;
   height: 30%;
   cursor: pointer;
   transition: bottom 0.5s ease;
}

/* JS Menu */
#socialMenu.show{
   bottom: -11rem;
}

.social-menu{
   position: absolute;
   bottom: 11rem;
   left: 1.65rem;
   margin: 0;
   padding: 0;
}

.social-menu li{
   margin: 0.5rem 0;
   list-style: none;
}

.social-menu li a{
   text-decoration: none;
}

.social-menu li a .svg-github{
   fill: #666;
}

.social-menu li a .svg-github:hover{
   fill: #333;
}

.social-menu li a .svg-linkedin{
   fill: #666;
}

.social-menu li a .svg-linkedin:hover{
   fill: #0E76A8;
}

.social-menu li a .svg-mail{
   fill: #666;
}

.social-menu li a .svg-mail:hover{
   fill: #00cacb;
}

.social-menu li a .svg-cv{
   fill: #666;
}

.social-menu li a .svg-cv:hover{
   fill: #e35e25;
}

/* Présentation */
.wrap-presentation p{
   font-family: "open-sans-regular", Helvetica;
   font-weight: normal;
}

.wrap-presentation p strong{
   font-family: "open-sans-semi-bold", Helvetica;
   font-weight: normal;
}

/* Compétences */
.wrap-skill{

}

/* Projets */
.wrapper-projet{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}

.projet{
   width: 40%;
   height: 40%;
   overflow: hidden;
   transition: 0.4s ease-in-out;
}

.projet:hover{
   transform: perspective(30rem) translateZ(1rem);
}

.projet a img{
   width: 100%;
   min-height: 100%;
   border-radius: 0.1rem;
}


/* Contact */
.wrapper-contact{
   display: flex;
   flex-wrap: wrap;
   height: 100vh;
}
.wrap-contact{
   width: 50%;
   margin: 5rem auto;
   padding: 1rem;
}

.contact-form{
   margin: 0 auto;
}

.wrap-input{
   position:relative;
   margin-bottom: 2rem;
}

.wrap-input label{
   position: absolute;
   top: 0.5rem;
   left: 0;
   text-transform: capitalize;
   font-family: "rubik-regular", Helvetica;
   font-weight: normal;
   font-size: 1.2rem;
   letter-spacing: 0.1rem;
   cursor: text;
   transition: 0.200s ease-in-out;
}

.wrap-input .input, .textarea{
   width: 100%;
   height: 3rem;
   padding: 0.5rem 0.1rem;
   color: #fff;
   transition: 0.110s ease-in-out;
}

.wrap-input .input:focus{
   border-bottom: 0.2rem solid #19f6e8;
}

.wrap-input .input:focus ~ label{
   top: -1rem;
   font-size: 0.9rem;
   letter-spacing: normal;
}

.textarea{
   height: 3rem;
   resize: none;
   overflow: auto;
   border: 0;
   border-bottom: 0.1rem solid #00cacb;
   background: transparent;
   transition: 0.5s ease-in-out;
}

.textarea:focus{
   height: 10rem;
   border-bottom: 0.2rem solid #19f6e8;
}

.wrap-input .textarea:focus ~ label{
   top: -1rem;
   font-size: 0.9rem;
   letter-spacing: normal;
}

.input[type=text],[type=email]{
   border: 0;
   border-bottom: 0.1rem solid #00cacb;
   background: transparent;
   font-family: "open-sans-italic", Helvetica;
   font-weight: normal;
   font-size: 1.1rem;
}

.button{
   display: block;
   margin: 4rem auto;
   padding: 0.5rem 1rem;
   border: none;
   border-bottom: 0.1rem solid #00cacb;
   text-transform: capitalize;
   font-family: "rubik-regular", Helvetica;
   font-weight: normal;
   font-size: 1rem;
   color: #fff;
   outline: none;
   background: transparent;
   cursor: pointer;
   letter-spacing: 0.1rem;
   transition: 0.2s ease-in-out;
}

.button:hover{
   letter-spacing: normal;
   border-bottom: 0.2rem solid #19f6e8;
}
