/* BISECT */
@font-face {
   font-family: "bisect";
   src: url("../fonts/bisect.otf");
}

/* RUBIK */
@font-face {
   font-family: "rubik-light";
   src: url("../fonts/rubik-light.ttf");
}
@font-face {
   font-family: "rubik-regular";
   src: url("../fonts/rubik-regular.ttf");
}
@font-face {
   font-family: "rubik-italic";
   src: url("../fonts/rubik-italic.ttf");
}
@font-face {
   font-family: "rubik-medium";
   src: url("../fonts/rubik-medium.ttf");
}
@font-face {
   font-family: "rubik-medium-italic";
   src: url("../fonts/rubik-medium-italic.ttf");
}
@font-face {
   font-family: "rubik-bold";
   src: url("../fonts/rubik-bold.ttf");
}


/* GLOBAL */
*:before,
*,
*:after{
   box-sizing: border-box;
}

html {
   /* scroll-behavior: smooth;
   scroll-snap-type: y mandatory;
   scroll-snap-points-y: repeat(100%); */
}

body{
   margin: 0 auto;
   background: #0a0c12;
}

main{
   margin-left: 5rem;
}

section{
   height: 100vh;
   /* scroll-snap-align: start; */
   color: #fff;
}

.wrap-presentation{
   width: 40%;
   margin: 0 auto;
   padding: 0rem;
}

.wrap-skill{
   width: 25%;
   margin: auto;
   padding: 1rem;
}

.wrapper{
   height: 100vh;
   margin: 0 auto;
}

.slice-presentation, .slice-talent{
   width: 90%;
   position: relative;
   top: 7.2rem;
   margin: 0 auto;
   border-bottom: 0.12rem solid #19f6e8;
}

.slice-contact{
   width: 80%;
   position: relative;
   top: 7.2rem;
   margin: 0 auto;
   border-bottom: 0.12rem solid #19f6e8;
}

h1{

}

h2{
   margin: 0;
   padding: 5rem 0;
   font-family: "bisect";
   font-weight: normal;
   font-size: 4rem;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   text-align: center;
   cursor: default;
}


h3{
   display: inline-block;
   font-family: "bisect", Helvetica;
   font-weight: normal;
   text-transform: uppercase;
}

h4{
   margin: 0 0 0.5rem 0;
   font-family: "rubik-bold", Helvetica;
   font-weight: normal;
   font-size: 3rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
}

/* MODAL */
.wrap-modal{
   display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 100;
   overflow: hidden;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.modal{
   display: block;
   width: 25%;
   margin: 20% auto;
   padding: 2rem;
   text-align: center;
   background-color: #fefefe;
   border-radius: 0.2rem;
   font-family: "rubik-medium-italic", Helvetica;
   font-weight: normal;
}

.close{
   float: right;
   font-size: 1.5rem;
   font-weight: bold;
   color: #666;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}


/* HEADER */
header{
   position: fixed;
   top:0;
   width: 80px;
   height: 100vh;
   background: #fff;
}

.burger{
   display: block;
   margin: 1rem 1.4rem;
   cursor: pointer;
}

.burger div{
   height: 0.25rem;
   background: #666;
   border-radius: 0.4rem;
   transition: 0.5s;
}

.burger:hover div {
   background: #00cacb;
   width: 2rem;
}

.burger .middle-bar{
   margin: 0.30rem 0;
}

.top-bar{
   width: 2rem;
}

.middle-bar{
   width: 1rem;
}

.bottom-bar{
   width: 1.5rem;
}

.top-menu{

}

/* SOCIAL */
.social-button{
   position: absolute;
   bottom: 3rem;
   left: 0.30rem;
   transform: rotate(-90deg);
   transition: bottom 0.4s ease;
   font-family: "rubik-medium";
   font-weight: normal;
   font-size: 1.2rem;
   line-height: 2rem;
   text-transform: uppercase;
   text-decoration: none;
   color: #666;
   cursor: pointer;
}

.social-button:hover{
   bottom: 3.5rem;
   color: #666;
}

.social-button:hover span{
   background: #00cacb;
}

/* JS Button */
#socialButton.show{
   bottom: 12rem;
   left: -0.25rem;
   color: #444;
   font-family: "bisect", Helvetica;
   font-weight: normal;
}

#socialButton.show span{
   background: #00cacb;
   width: 6.5rem;
   left: -0.6rem;

}

.social-button span{
   position: absolute;
   bottom: 0.9rem;
   left: -2.8rem;
   width: 2.2rem;
   height: 0.11rem;
   margin-right: 0.5rem;
   background: #aaa;
   border-radius: 0.2rem;
   transition: 0.5s;
}

.social-nav{
   position: absolute;
   bottom: -25rem;
   width: 100%;
   height: 30%;
   cursor: pointer;
   transition: bottom 0.5s ease;
}

/* JS Menu */
#socialMenu.show{
   bottom: -10rem;
}

.social-menu{
   position: absolute;
   bottom: 11rem;
   left: 1.65rem;
   margin: 0;
   padding: 0;
}

.social-menu li{
   margin: 0.5rem 0;
   list-style: none;
}

.social-menu li a{
   text-decoration: none;
}

.social-menu li a .svg-github{
   fill: #666;
}
.social-menu li a .svg-github:hover{
   fill: #333;
}
.social-menu li a .svg-linkedin{
   fill: #666;
}
.social-menu li a .svg-linkedin:hover{
   fill: #0E76A8;
}
.social-menu li a .svg-mail{
   fill: #666;
}
.social-menu li a .svg-mail:hover{
   fill: #00cacb;
}
.social-menu li a .svg-cv{
   fill: #666;
}
.social-menu li a .svg-cv:hover{
   fill: #e35e25;
}


/* PRESENTATION */
.wrap-presentation p{
   margin: 3rem  0 ;
   padding-left: 4rem;
   font-family: "rubik-regular", Helvetica;
   font-weight: normal;
   line-height: 1.5rem;
}

.wrap-presentation p strong{
   font-family: "rubik-medium", Helvetica;
   font-weight: normal;
}

.wrap-presentation p a{
   color: #fff;
}

.wrap-cv{
   position: relative;
   top: 50%;
   transform: translate(0%,50%);
   width: 20rem;
   height: 3rem;
   margin: 0 auto;
   cursor: pointer;
}

.shape{
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -470;
  stroke-width: 0.2rem;
  stroke: #19f6e8;
}

.text{
   display: block;
   font-family: "rubik-medium", Helvetica;
   font-weight: normal;
   font-size: 22px;
   letter-spacing: 0.2rem;
   line-height: 32px;
   position: relative;
   top: -3rem;
   left: 6.5rem;
}

.text a{
   text-decoration: none;
   color: #fff;
}

@keyframes draw{
   0%{
      stroke-dasharray: 140 500;
      stroke-dashoffset: -470;
      stroke-width: 8px;
   }
   100%{
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
   }
}

.wrap-cv:hover .shape{
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


/* SKILLS */
.wrap-skills{
   padding-top: 15rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.skill{
   position: absolute;
   z-index: -1;
}

.skill:nth-child(1) svg{
   transform: translate(-50%,-300%);
}
.skill:nth-child(2) svg{
   transform: translate(150%,-220%);
}
.skill:nth-child(3) svg{
   transform: translate(200%,-50%);
}
.skill:nth-child(4) svg{
   transform: translate(150%,140%);
}
.skill:nth-child(5) svg{
   transform: translate(-50%,150%);
}
.skill:nth-child(6) svg{
   transform: translate(-220%,140%);
}
.skill:nth-child(7) svg{
   transform: translate(-300%,-50%);
}
.skill:nth-child(8) svg{
   transform: translate(-220%,-200%);
}

/* PROJECTS */
.wrapper-project{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}

.wrap-project{
   width: 50%;
   height: 50%;
   text-decoration: none;

}

.wrap-project a{
   text-decoration: none;
   color: #fff;
}

.wrap-project:nth-child(odd) .info-project{
   position: relative;
   top: -10rem;
   left: -35rem;
   padding: 0 2rem;
   transition: 0.8s ease-out;
}

.wrap-project:nth-child(odd):hover .info-project{
   left: 2rem;
}

.wrap-project:nth-child(even) .info-project{
   position: relative;
   top: -10rem;
   right: -30rem;
   padding: 0 2rem;
   text-align: right;
   transition: 0.5s ease-out;
}

.wrap-project:nth-child(even):hover .info-project{
   right: 2rem;
}

.info-project p{
   margin: 0;
   font-family: "rubik-italic", Helvetica;
   font-weight: normal;
   letter-spacing: .10rem;
}

/* Top Annimation Project */
.wrap-project:nth-child(1):hover img{
   transform: scale(1.5) translate(100%,20%);
}
.wrap-project:nth-child(2):hover img{
   transform: scale(1.5) translate(-30%,20%);
}

/* Bottom Annimation Project */
.wrap-project:nth-child(3):hover img{
   transform: scale(1.5) translate(100%,25%);
}
.wrap-project:nth-child(4):hover img{
   transform: scale(1.5) translate(-30%,25%);
}

/* 1st Section Project */
.nth-child-1:nth-child(1){
   background: #991c3b;
}
.nth-child-2:nth-child(2){
   background: #737e9d;
}
.nth-child-3:nth-child(3){
   background: #54505f;
}
.nth-child-4:nth-child(4){
   background: #5f5147
}

/* 2nd Section Project */
.nth-child-5:nth-child(1){
   background: #d31f44;
}
.nth-child-6:nth-child(2){
   background: #4bcaff;
}
.nth-child-7:nth-child(3){
   background: #ea612e;
}
.nth-child-8:nth-child(4){
   background: #ffffff;
}

.project{
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.project img{
   width: 50%;
   min-height: 50%;
   position: relative;
   top: 0;
   left: 0;
   transform: translate(50%,30%);
   transition: 1s ease-out;
}


/* CONTACT */
.wrap-contact{
   width: 30%;
   margin: 5rem auto;
   padding: 1rem;
}

.contact-form{
   margin: 0 auto;
}

.wrap-input{
   position:relative;
   margin-bottom: 2rem;
}

.wrap-input label{
   position: absolute;
   top: 0.5rem;
   left: 0;
   text-transform: capitalize;
   font-family: "rubik-regular", Helvetica;
   font-weight: normal;
   font-size: 1.2rem;
   letter-spacing: 0.1rem;
   cursor: text;
   transition: 0.200s ease-in-out;
}

.wrap-input .input, .textarea{
   width: 100%;
   height: 3rem;
   padding: 0.5rem 0.1rem;
   color: #fff;
   transition: 0.110s ease-in-out;
}

.wrap-input .input:focus{
   border-bottom: 0.2rem solid #19f6e8;
   outline:none;
}

.wrap-input .input:focus ~ label{
   top: -1rem;
   font-size: 0.9rem;
   letter-spacing: normal;
}

.textarea{
   height: 3rem;
   resize: none;
   overflow: auto;
   border: 0;
   border-bottom: 0.1rem solid #00cacb;
   background: transparent;
   transition: 0.5s ease-in-out;
   font-family: "rubik-italic", Helvetica;
   font-weight: normal;
}

.textarea:focus{
   height: 10rem;
   border-bottom: 0.2rem solid #19f6e8;
}

.wrap-input .textarea:focus ~ label{
   top: -1rem;
   font-size: 0.9rem;
   letter-spacing: normal;
}

.input[type=text],[type=email]{
   border: 0;
   border-bottom: 0.1rem solid #00cacb;
   background: transparent;
   font-family: "rubik-italic", Helvetica;
   font-weight: normal;
   font-size: 1.1rem;
}

textarea:focus{
   outline: 0;
}

.button{
   display: block;
   margin: 4rem auto;
   padding: 0.5rem 1rem;
   border: none;
   border-bottom: 0.1rem solid #00cacb;
   text-transform: capitalize;
   font-family: "rubik-regular", Helvetica;
   font-weight: normal;
   font-size: 1rem;
   color: #fff;
   outline: none;
   background: transparent;
   cursor: pointer;
   letter-spacing: 0.1rem;
   transition: 0.2s ease-in-out;
}

.button:hover{
   letter-spacing: normal;
   border-bottom: 0.2rem solid #19f6e8;
}
